<!DOCTYPE html>
<html>
    <head>
        <title>Summary</title>
            <style>
                body{ text-align:center; font-family:Arial, sans-serfic;}
                table { margin:auto; margin-top: 30px; border-collapse:collapse;}
                th, td {padding:10px; border:1px solid #ccc;}
            </style>
    </head>
    <body>
        <h1>Expenses Summary</h1>
        <h2>Total Spent: ₹{{ total_expense }}</h2>

        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Total Spent</th>
                </tr>
            </thead>
            <tbody>
                {% for category, amount in category_summary %}
                <tr>
                    <td>{{ category }}</td>
                    <td>₹{{ amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Month-wise Summary</h2>
        <ul>
            {% for month, total in month_summary %}
            <li>{{ month | datetimeformat('%B %Y')}}-{{ '%.2f'|format(total)}}</li>
            {% endfor %}
        </ul>
    </body>
</html>